<!DOCTYPE html>
<html>
<head>
    <title>입력값 출력</title>
</head>
<body>
    <header>
    <div class="page-header-icon undefined"><span class="icon" style="font-size: 50px;">🦕</span></div>
    <h1>For vitamin</h1>
    </header>
    
    <p>UID: {{ uid }}</p>
    <p>PWD: {{ pwd }}</p>
    <p>Destination: {{ destination }}</p>
    <p>Input Event: {{ input_event }}</p>
    <p>Year: {{ year }}</p>
    <p>Month: {{ month }}</p>
    <p>Start Day: {{ start_day }}</p>
    <p>End Day: {{ end_day }}</p>
</body>
</html>
