<!DOCTYPE html>
<html>
<head>
    <title>입력값 받기</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
    <div class="page-header-icon undefined"><span class="icon" style="font-size: 50px;">🦕</span></div>
    <h1>For vitamin</h1>
    </header>
    
    <form method="POST" action="/input_data">
        <label for="uid">UID:</label>
        <input type="text" id="uid" name="uid"  placeholder="Enter your vitamin ID"><br><br>
        
        <label for="pwd">PWD:</label>
        <input type="password" id="pwd" name="pwd"  placeholder="Enter your vitamin Password"><br><br>
        
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" placeholder="Enter Destination"><br><br>
        
        <label for="input_event">Input Event:</label>
        <input type="text" id="input_event" name="input_event" placeholder="Enter Event"><br><br>
        
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" placeholder="Enter Year"><br><br>
        
        <label for="month">Month:</label>
        <input type="number" id="month" name="month" placeholder="Enter Month"><br><br>
        
        <label for="start_day">Start Day:</label>
        <input type="number" id="start_day" name="start_day" placeholder="Enter Start Day"><br><br>
        
        <label for="end_day">End Day:</label>
        <input type="number" id="end_day" name="end_day" placeholder="Enter End Day"><br><br>
        
        
        <input type="submit" value="Submit" style="font-family: Arial, sans-serif; font-size: 16px;">
        
        
    </form>
</body>
</html>
